USE [master]
GO
/****** Object:  Database [CartSystem]    Script Date: 8/5/2020 4:42:50 PM ******/
CREATE DATABASE [CartSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CartSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CartSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CartSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CartSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CartSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CartSystem]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/5/2020 4:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[products] [text] NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/5/2020 4:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [decimal](18, 4) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2020 4:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([Id], [Quantity], [products], [userId]) VALUES (1, NULL, NULL, 1)
INSERT [dbo].[Cart] ([Id], [Quantity], [products], [userId]) VALUES (2, NULL, NULL, 3)
INSERT [dbo].[Cart] ([Id], [Quantity], [products], [userId]) VALUES (3, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock]) VALUES (1, N'BİLGİSAYAR', CAST(5000.0000 AS Decimal(18, 4)), 20)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock]) VALUES (2, N'TELEFON', CAST(3400.9900 AS Decimal(18, 4)), 45)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock]) VALUES (3, N'TABLET', CAST(200.0000 AS Decimal(18, 4)), 20)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [NameSurname], [Email], [Pass]) VALUES (1, N'FURKAN ZADEGİL', N'zadegil581907@gmail.com', N'123123')
INSERT [dbo].[Users] ([Id], [NameSurname], [Email], [Pass]) VALUES (2, N'ayşe güler', N'asd@gmail.com', N'123')
INSERT [dbo].[Users] ([Id], [NameSurname], [Email], [Pass]) VALUES (3, N'hakan arslan', N'asdasd@gmail.com', N'asdasd')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
